<!DOCTYPE html>
<html>
  <head>
    <title>My first Vue page</title>
    <style>
      #app {
        display: inline-block;
        padding: 10px;
        font-size: x-large;
        background-color: lightgreen;
      }
    </style>
  </head>
  <body>
    <h1>List of Vue Example practices</h1>
    <div class="container-exercises">
      <div class="container-table">
        <div class="row">
          <div class="col-md-12">
            <div class="card text-center shadow">
              <ul class="list-group">
                <li><%= link_to "Intro", intro_path, class: 'btn btn-primary' %></li>
                <li><%= link_to "Directive", directive_path, class: 'btn btn-primary' %></li>
                <li><%= link_to "V_Bind", v_bind_path, class: 'btn btn-primary' %></li>
                <li><%= link_to "V_if", v_if_path, class: 'btn btn-primary' %></li>
                <li><%= link_to "V_show", v_show_path, class: 'btn btn-primary' %></li>
                <li><%= link_to "V_for", v_for_path, class: 'btn btn-primary' %></li>
                <li><%= link_to "events", events_path, class: 'btn btn-primary' %></li>
                <li><%= link_to "v_on", v_on_path, class: 'btn btn-primary' %></li>
                <li><%= link_to "method", method_path, class: 'btn btn-primary' %></li>
                <li><%= link_to "event_modifier", event_modifier_path, class: 'btn btn-primary' %></li>
                <li><%= link_to "vue_form", vue_form_path, class: 'btn btn-primary' %></li>
                <li><%= link_to "v_model", v_model_path, class: 'btn btn-primary' %></li>
                <li><%= link_to "css_binding", css_binding_path, class: 'btn btn-primary' %></li>
                <li><%= link_to "computed", computed_path, class: 'btn btn-primary' %></li>
                <li><%= link_to "watcher", watcher_path, class: 'btn btn-primary' %></li>
                <li><%= link_to "template", template_path, class: 'btn btn-primary' %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
